<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Server">

<!--   <class name="WebTestFactory" />
-->
<!--   <groups>
    <run>
      <include name="serverTests"/>
    </run>
    <classes>
      <class name="test.java.StartTest"/>
    </classes>
  </groups> -->

<!--   <test name="Server">
    <groups>
      <dependencies>
        <group name="testServer" depends-on="testStart" />
        <group name="stopTests" depends-on="serverTests" />
      </dependencies>
    </groups>
  </test -->


<!--   <test name="testStop", dependsOnGroups="serverTests">
    <classes>
      <class name="test.java.StopTest"/>
    </classes>
  </test>
 -->
</suite>